*{
    font-family: Roboto;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


header {
    display: flex;
    align-items: center;
    color: #c2c2c2;
    justify-content:space-between;
    background-color: #1f2937;
    padding-right:250px;
    padding-left:250px;
}

header ul {
    display: flex;
    list-style: none;
    gap: 12px;
}

header li{
    transition:transform 0.3s ease;
}

header a {
    text-decoration: none;
    color:#F2F2F2;
}
li:hover{
    transform:translateY(-3px);
}

.logo {
    color: #f9faf8;
    font-size: 24px;
}
.explore-btn:hover{
    transform: translateY(-3px);
}
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    height:450px;
    padding-right:250px;
    padding-left:250px;
}
.subtitle{
    color:#F2F2F2;
}
.leftside-panel{
    width: 600px;
}

.rightside-panel img{
    width:500px;
}
.games-section {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    height:500px;
}
.games-container img {
    width: 200px;
    height:200px;
    border-radius: 12px;
}
.games-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:32px;
    flex:1;
}
.game-caption{
    display:flex;
    justify-content: center;
    margin-top:8px;
    font-weight: 600;
}
.game-container {
    height: 300px;
}
.main-heading {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}
.games-header {
    display: flex;
    justify-content: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}
.quote-section {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    background-color: #e5e7eb;
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    font-style: italic;
}
.quote-container {
    display:flex;
    flex-direction:column;
    width:850px;
}

.quote-name{
    display:flex;
    justify-content: flex-end;
    font-weight: bold;
}
.subtitle {
    font-size: 18px;
    color: #e5e7eb;
}
.explore-btn {
    border-radius: 12px;
    border-style: none;
    padding:12px;
    color: #f9faf8;
    font-weight:bold;
    background-color: #3882f6;
    transition: transform 0.3s ease;
}
.call-to-action-container {
    display:flex;
    justify-content: center;
    height:150px;
    padding: 32px;
}
.get-started-btn:hover{
    transform:translateY(-3px);
}
.cta-content-container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882f6;
    padding:32px;
    border-radius:8px;
    gap:24px;
}
.get-started-btn{
    background-color: transparent;
    padding:8px;
    border-radius: 12px;
    border:2px solid #F2F2F2;
    color:#F2F2F2;
    font-weight: bold;
    width: 100px;
    transition: transform 0.3s ease;
}

.heading {
    color: #f9faf8;
    font-weight: bold;
}
.content-description {
    color:#F2F2F2;
}
.cta-btn-panel{
    display:flex;
    justify-content: center;
    width:200px;
    
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding:32px;
    color:#F2F2F2;
    background-color: #1f2937;
}
